body{
  background-color: rgb(249, 249, 248);
}
.h1{
  color:blue;
}

.btn{
  color: black;
  cursor: pointer;
}

.task{
  margin: 1em auto;
  width: 50%;
  background-color: aliceblue;
  border: solid 1px black;
}

.reminder{
  border-left: solid 3px green;
}